{% extends 'game.html.twig' %}
{% import 'macro/avatar.html.twig' as avatar %}

{% block title "Games" %}

{% block body %}

    {# Opponent area #}
    <div id="opponent-area" class="player-area player-area-{{ opponent.id }}" data-player="{{ opponent.id }}">
        <div class="avatar-area">
            <div id="opponent-lifepoint" class="lifepoint" title="Lifepoints">20</div>
            {{ avatar.afficher(opponent.user) }}
        </div>
        <div class="row-library-hand">
            <div class="exile" title="Exile">
                <div id="opponent-exile-top-card" class="exile-top-card">
                    {{ opponent.exile.countGameCardsExile }}
                </div>
            </div>
            <div class="graveyard" title="Graveyard">
                <div id="opponent-graveyard-top-card" class="graveyard-top-card"
                     {% if opponentGraveyardTopCard %}style="background-image:url('{{ opponentGraveyardTopCard.card.imageUrisPng }}');"{% endif %}>
                    {{ opponent.graveyard.countGameCardsGraveyard }}
                </div>
            </div>
            <div class="library" title="Library">
                <div id="opponent-library-top-card" class="library-top-card">
                    {{ opponent.library.countGameCardsLibrary }}
                </div>
            </div>
            <div class="hand">
                {% for cardHand in opponent.hand.gameCardsHand %}
                    <a href="#" class="hand-card-link">
                        <div class="hand-card" style="background-image:url({{ asset('images/planeswalkers/mtg_card_back.jpg') }});">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row-zone-battlefield">
            <div class="battlefield">

            </div>
        </div>
    </div>

    {# Allies area #}
    <div id="player-area" class="player-area player-area-{{ player.id }}" data-player="{{ player.id }}">
        <div class="avatar-area">
            <div id="player-lifepoint" class="lifepoint" title="Lifepoints">20</div>
            {{ avatar.afficher(player.user) }}
        </div>
        <div class="row-zone-battlefield">
            <div data-area="battlefield" class="battlefield" data-player="{{ player.id }}">

            </div>
        </div>
        <div class="row-library-hand">
            <div data-area="exile" class="exile" title="Exile">
                <div id="player-exile-top-card" class="exile-top-card" data-area="exile" draggable="true" data-player="{{ player.id }}">
                    {{ player.exile.countGameCardsExile }}
                </div>
            </div>
            <div data-area="graveyard" class="graveyard" title="Graveyard">
                <div id="player-graveyard-top-card" class="graveyard-top-card" data-area="graveyard" draggable="true" data-player="{{ player.id }}"
                     {% if playerGraveyardTopCard %}style="background-image:url('{{ playerGraveyardTopCard.card.imageUrisPng }}');"{% endif %}>
                    {{ player.graveyard.countGameCardsGraveyard }}
                </div>
            </div>
            <div data-area="library" class="library" title="Library">
                <div id="player-library-top-card" class="library-top-card" data-area="library" draggable="true" data-player="{{ player.id }}">
                    {{ player.library.countGameCardsLibrary }}
                </div>
            </div>
            <div data-area="hand" class="hand">
                {% for cardHand in player.hand.gameCardsHand %}
                    <a href="#" class="hand-card-link" data-area="hand" draggable="true" data-toggle="modal" data-target="#cardDetailsModal" data-player="{{ player.id }}" data-id="{{ cardHand.id }}" data-idsrcyfall="{{ cardHand.card.idScryfall }}">
                        <div class="hand-card" style="background-image:url('{{ cardHand.card.imageUrisPng }}');">

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Modale : détails d'une carte #}
    {% import 'admin/planeswalkers/play/rendu/card-details.html.twig' as cardDetails %}
    {{ cardDetails.afficher() }}

{% endblock %}

{% block javascripts %}
    <script>
        {# Draggable #}
        let draggableELement = null;
        $("body").on("drag",'.exile-top-card, .graveyard-top-card, .library-top-card, .hand-card-link', function(event) {
            event.preventDefault();
            event.stopPropagation();
            draggableELement = $(this);
        });
        $("body").on("dragover", function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).addClass('dragging');
        });
        $("body").on("dragleave", function(event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).removeClass('dragging');
        });

        {# Mercure #}
        const url = new URL('{{mercure_publish_url}}');
        url.searchParams.append('topic', 'planeswalkers-game-'+ {{ game.id }} );
        const eventSource = new EventSource(url);
        eventSource.onmessage = event => {
            retourMercure = JSON.parse(event.data);
            {# Mise à jour du jeu en fonction de l'action #}
            switch (retourMercure.action) {
                case 'draw':
                    updateGameAfterDraw(retourMercure);
                    break;
                case 'mills':
                    updateGameAfterMills(retourMercure);
                    break;
                case 'discard':
                    updateGameAfterDiscard(retourMercure);
                    break;
                default:
            }
        }

    </script>

    {# Rendu #}
    {% import 'admin/planeswalkers/play/action/card-details.html.twig' as cardDetailsJs %}
    {{ cardDetailsJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/graveyard.html.twig' as graveyardJs %}
    {{ graveyardJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/library.html.twig' as libraryJs %}
    {{ libraryJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/hand.html.twig' as handJs %}
    {{ handJs.script() }}

    {# Move #}
    {% import 'admin/planeswalkers/play/action/move.html.twig' as actionMoveJs %}
    {{ actionMoveJs.script(game) }}

    {# Draw #}
    {% import 'admin/planeswalkers/play/action/draw.html.twig' as actionDrawJs %}
    {{ actionDrawJs.script(game) }}

    {# Mills #}
    {% import 'admin/planeswalkers/play/action/mills.html.twig' as actionMillsJs %}
    {{ actionMillsJs.script(game) }}

    {# Discard #}
    {% import 'admin/planeswalkers/play/action/discard.html.twig' as actionDiscardJs %}
    {{ actionDiscardJs.script(game) }}

{% endblock %}