{% extends 'game.html.twig' %}
{% import 'macro/avatar.html.twig' as avatar %}

{% block title "Games" %}

{% block body %}

    {# ZONE DE JEU #}
    <div id="game-main-area">

        {# Bouton pour afficher/cacher la sidebar #}
        <div id="game-sidebar-btn"><i class="fas fa-comments"></i></div>

        {# Phases #}
        <div id="phases-area">
            <ol class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <div id="step-turn-area">Turn <span id="step-turn-counter">{{ game.turn }}</span></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-untap" data-step="0" class="phases-step" title="Untap step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-upkeep" data-step="1" class="phases-step" title="Upkeep step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-draw" data-step="2" class="phases-step" title="Draw step"></div>
                </li>
                <li class="list-inline-item ml-3">
                    <div id="step-precombat" data-step="3" class="phases-step" title="Precombat main phase"></div>
                </li>
                <li class="list-inline-item ml-3">
                    <div id="step-beginning-combat" data-step="4" class="phases-step" title="Beginning of combat step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-declare-attackers" data-step="5" class="phases-step" title="Declare attackers step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-declare-blockers" data-step="6" class="phases-step" title="Declare blockers step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-combat-damage" data-step="7" class="phases-step" title="Combat damage step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-combat-end" data-step="8" class="phases-step" title="End of combat step"></div>
                </li>
                <li class="list-inline-item ml-3">
                    <div id="step-postcombat" data-step="9" class="phases-step" title="Postcombat main phase"></div>
                </li>
                <li class="list-inline-item ml-3">
                    <div id="step-end-turn" data-step="10" class="phases-step" title="End of turn step"></div>
                </li>
                <li class="list-inline-item">
                    <div id="step-cleanup" data-step="11" class="phases-step" title="Cleanup step"></div>
                </li>
                <li class="list-inline-item ml-3">
                    <div id="step-next" data-step="12" class="phases-step" title="Next turn"></div>
                </li>
            </ol>
        </div>

        {# Opponent area #}
        <div id="opponent-area" class="player-area player-area-{{ opponent.id }}" data-player="{{ opponent.id }}">
            <div class="row-library-hand">
                <div class="exile" title="Exile">
                    <div id="opponent-exile-top-card" class="exile-top-card"></div>
                </div>
                <div class="graveyard" title="Graveyard">
                    <div id="opponent-graveyard-top-card" class="graveyard-top-card"></div>
                </div>
                <div class="library" title="Library">
                    <div id="opponent-library-top-card" class="library-top-card"></div>
                </div>
                <div class="hand"></div>
            </div>
            <div class="row-zone-battlefield">
                <div class="battlefield" data-player="{{ opponent.id }}" data-area="battlefield" data-battlefield="{{ opponent.battlefield.id }}"></div>
            </div>
            <div class="avatar-area {% if game.playerActive == opponent %}pulse{% endif %}">
                <div class="lifepoint" title="Lifepoints">
                    <input type="number" class="lifepoint-input" value="{{ opponent.lifepoint }}" readonly>
                </div>
                {{ avatar.afficher(opponent.user) }}
            </div>
        </div>

        {# Allies area #}
        <div id="player-area" class="player-area player-area-{{ player.id }}" data-player="{{ player.id }}">
            <div class="row-zone-battlefield">
                <div class="battlefield" data-player="{{ player.id }}" data-area="battlefield" data-battlefield="{{ player.battlefield.id }}"></div>
            </div>
            <div class="row-library-hand">
                <div data-area="exile" class="exile" title="Exile">
                    <div id="player-exile-top-card" class="exile-top-card" data-area="exile" draggable="true" data-player="{{ player.id }}"></div>
                </div>
                <div data-area="graveyard" class="graveyard" title="Graveyard">
                    <div id="player-graveyard-top-card" class="graveyard-top-card" data-area="graveyard" draggable="true" data-player="{{ player.id }}"></div>
                </div>
                <div data-area="library" class="library" title="Library">
                    <div id="player-library-top-card" class="library-top-card" data-area="library" draggable="true" data-player="{{ player.id }}"></div>
                </div>
                <div data-area="hand" class="hand"></div>
            </div>
            <div class="avatar-area {% if game.playerActive == player %}pulse{% endif %}">
                <div class="lifepoint" title="Lifepoints">
                    <input type="number" class="lifepoint-input" value="{{ player.lifepoint }}">
                    <div class="lifepoint-action-area">
                        <a href="#" class="lifepoint-btn" data-operation="plus"><i class="fas fa-plus-circle"></i></a>
                        <a href="#" class="lifepoint-btn" data-operation="minus"><i class="fas fa-minus-circle"></i></a>
                    </div>
                </div>
                {{ avatar.afficher(player.user) }}
            </div>
        </div>

    </div>

    {# ZONE SIDEBAR #}
    <div id="game-sidebar-area" class="active">
        {# Zones contenants les messages #}
        <div id="tchat-messages-area" class="tchat-messages-content"></div>
        {# Zone de rédaction des messages #}
        <div id="tchat-rediger-area">
            <div id="tchat-message-contenu-area" class="flex-grow-1">
                <div class="form-group">
                    <input type="text" class="form-control" id="tchat-message-input" name="content">
                </div>
            </div>
        </div>
    </div>

    {# Modale : détails d'une carte #}
    {% import 'admin/planeswalkers/play/rendu/card-details.html.twig' as cardDetails %}
    {{ cardDetails.afficher() }}

    {# Modale : Counter sur une carte du champs de bataille #}
    {% import 'admin/planeswalkers/play/rendu/card-counter.html.twig' as cardCounter %}
    {{ cardCounter.afficher() }}

    {# Modale : Power/Toughness sur une carte du champs de bataille #}
    {% import 'admin/planeswalkers/play/rendu/card-power.html.twig' as cardPower %}
    {{ cardPower.afficher() }}

    {# Modale : Note sur une carte du champs de bataille #}
    {% import 'admin/planeswalkers/play/rendu/card-note.html.twig' as cardNote %}
    {{ cardNote.afficher() }}

    {# Menu contextual #}
    <div id="menu-contextual" class="menu"></div>

{% endblock %}

{% block javascripts %}

    <script>
        let playerId = {{ player.id }};
        {# Draggable #}
        let grid = 15;
        let draggableELement = null;
        $("body").on("drag", '.exile-top-card, .graveyard-top-card, .library-top-card, .hand-card-link, .battlefield-card-link', function(e) {
            e.preventDefault();
            e.stopPropagation();
            draggableELement = $(this);
        });
        $("body").on("dragover", function(e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).addClass('dragging');
        });
        $("body").on("dragleave", function(e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).removeClass('dragging');
        });
    </script>

    {# Chargement de la partie #}
    {% import 'admin/planeswalkers/play/action/chargement.html.twig' as chargementJs %}
    {{ chargementJs.script(player, opponent, areasPlayer, areasOpponent) }}

    {# Mercure#}
    {% import 'admin/planeswalkers/play/action/mercure.html.twig' as mercureJs %}
    {{ mercureJs.script(game) }}

    {# Rendu #}
    {{ avatar.script() }}
    {% import 'admin/planeswalkers/play/action/card-details.html.twig' as cardDetailsJs %}
    {{ cardDetailsJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/exile.html.twig' as exileJs %}
    {{ exileJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/graveyard.html.twig' as graveyardJs %}
    {{ graveyardJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/library.html.twig' as libraryJs %}
    {{ libraryJs.script(game) }}
    {% import 'admin/planeswalkers/play/rendu/hand.html.twig' as handJs %}
    {{ handJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/battlefield.html.twig' as battlefieldJs %}
    {{ battlefieldJs.script() }}
    {% import 'admin/planeswalkers/play/rendu/message.html.twig' as messageJs %}
    {{ messageJs.script(player) }}
    {% import 'admin/planeswalkers/play/rendu/game-card-battlefield.html.twig' as gameCardBattlefieldJs %}
    {{ gameCardBattlefieldJs.script(player) }}

    {# Raccourcies clavier #}
    {% import 'admin/planeswalkers/play/action/keyboard-shortcuts.html.twig' as actionKeyboardShortcutsJs %}
    {{ actionKeyboardShortcutsJs.script() }}

    {# Steps #}
    {% import 'admin/planeswalkers/play/action/step.html.twig' as actionStepJs %}
    {{ actionStepJs.script(game) }}

    {# Menu contextuel #}
    {% import 'admin/planeswalkers/play/action/menu-contextual.html.twig' as actionMenuContextualJs %}
    {{ actionMenuContextualJs.script() }}

    {# Player #}
    {% import 'admin/planeswalkers/play/action/player.html.twig' as actionPlayerJs %}
    {{ actionPlayerJs.script(game) }}

    {# Move #}
    {% import 'admin/planeswalkers/play/action/move.html.twig' as actionMoveJs %}
    {{ actionMoveJs.script(game) }}

    {# GameCardHand #}
    {% import 'admin/planeswalkers/play/action/game-card-hand.html.twig' as actionGameCardHandJs %}
    {{ actionGameCardHandJs.script(game) }}

    {# GameCardBattlefield #}
    {% import 'admin/planeswalkers/play/action/game-card-battlefield.html.twig' as actionGameCardBattlefieldJs %}
    {{ actionGameCardBattlefieldJs.script(game) }}

    {# Sidebar #}
    {% import 'admin/planeswalkers/play/action/sidebar.html.twig' as sidebarJs %}
    {{ sidebarJs.script(game) }}

{% endblock %}