{% extends 'game.html.twig' %}
{% import 'macro/avatar.html.twig' as avatar %}

{% block title "Games" %}

{% block body %}

    {# Opponent area #}
    <div id="opponent-area" class="player-area player-area-{{ opponent.id }}" data-player="{{ opponent.id }}">
        <div class="avatar-area">
            <div id="opponent-lifepoint" class="lifepoint" title="Lifepoints">20</div>
            {{ avatar.afficher(opponent.user) }}
        </div>
        <div class="row-library-hand">
            <div class="exile" style="background:silver;">
                exile opponent
            </div>
            <div class="graveyard" style="background:black;">
                graveyard opponent
            </div>
            <div class="library" style="background-color:rgba(0,0,0,0.2);">
                <div class="library-top-card" draggable="true">
                    <div>{{ opponent.library.countGameCardsLibrary }}</div>
                </div>
            </div>
            <div class="hand">
                {% for cardHand in opponent.hand.gameCardsHand %}
                    <a href="#" class="hand-card-link" data-toggle="modal" data-target="#cardDetailsModal" data-idsrcyfall="{{ cardHand.card.idScryfall }}">
                        <div class="hand-card" style="background-image:url('{{ cardHand.card.imageUrisPng }}');">

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row-zone-battlefield">
            <div class="battlefield">

            </div>
        </div>
    </div>

    {# Allies area #}
    <div id="player-area" class="player-area player-area-{{ player.id }}" data-player="{{ player.id }}">
        <div class="avatar-area">
            <div id="player-lifepoint" class="lifepoint" title="Lifepoints">20</div>
            {{ avatar.afficher(player.user) }}
        </div>
        <div class="row-zone-battlefield">
            <div class="battlefield">

            </div>
        </div>
        <div class="row-library-hand">
            <div class="exile" style="background:silver;">
                exile opponent
            </div>
            <div class="graveyard" style="background:black;">
                graveyard opponent
            </div>
            <div class="library" style="background-color:rgba(0,0,0,0.2);">
                <div id="player-library-top-card" class="library-top-card" draggable="true">
                    {{ player.library.countGameCardsLibrary }}
                </div>
            </div>
            <div class="hand">
                {% for cardHand in player.hand.gameCardsHand %}
                    <a href="#" class="hand-card-link" data-toggle="modal" data-target="#cardDetailsModal" data-idsrcyfall="{{ cardHand.card.idScryfall }}">
                        <div class="hand-card" style="background-image:url('{{ cardHand.card.imageUrisPng }}');">

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {# Modale : détails d'une carte #}
    {% import 'admin/planeswalkers/play/macro/card-details.html.twig' as cardDetails %}
    {{ cardDetails.afficher() }}

{% endblock %}

{% block javascripts %}
    <script>
        {# Draggable #}
        let draggableELement = null;
        $(".library-top-card").on("drag", function(event) {
            event.preventDefault();
            event.stopPropagation();
            draggableELement = $(this);
        });

        {# Mercure #}
        const url = new URL('{{mercure_publish_url}}');
        url.searchParams.append('topic', 'planeswalkers-game-'+ {{ game.id }} );
        const eventSource = new EventSource(url);
        eventSource.onmessage = event => {
            retourMercure = JSON.parse(event.data);

            {# Mise à jour du jeu en fonction de l'action #}
            switch (retourMercure.action) {
                case 'draw':
                    updateGameAfterDraw(retourMercure);
                    break;
                default:
            }
        }

    </script>

    {# Card details #}
    {% import 'admin/planeswalkers/play/action/card-details/js.html.twig' as cardDetailsJs %}
    {{ cardDetailsJs.script() }}

    {# Draw #}
    {% import 'admin/planeswalkers/play/action/draw/js.html.twig' as actionDrawJs %}
    {{ actionDrawJs.script(game, path('planeswalkers.play.action.draw')) }}

{% endblock %}