{% import 'macro/avatar.html.twig' as avatar %}
{% import 'admin/planeswalkers/play/macro/card-details.html.twig' as cardDetails %}
{% import 'admin/planeswalkers/play/action/card-details/js.html.twig' as cardDetailsJs %}
{% import 'admin/planeswalkers/play/action/draw/js.html.twig' as actionDrawJs %}

{% extends 'game.html.twig' %}

{% block title "Games" %}

{% block body %}

    {# Opponent area #}
    <div id="opponent-area" class="player-area player-area-{{ opponent.id }}" data-player="{{ opponent.id }}">
        <div class="avatar-area">
            <div id="opponent-lifepoint" class="lifepoint" title="Lifepoints">20</div>
            {{ avatar.afficher(opponent.user) }}
        </div>
        <div class="row-library-hand">
            <div class="exile" style="background:silver;">
                exile opponent
            </div>
            <div class="graveyard" style="background:black;">
                graveyard opponent
            </div>
            <div class="library" style="background:blue;">
                <div class="library-top-card" style="background-image:url('{{ asset('images/planeswalkers/mtg_card_back.jpg') }}');">
                    <div>{{ opponent.library.countGameCardsLibrary }}</div>
                </div>
            </div>
            <div class="hand">
                {% for cardHand in opponent.hand.gameCardsHand %}
                    <div class="hand-card" style="background-image:url('{{ cardHand.card.imageUrisPng }}');">

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row-zone-battlefield">
            <div class="battlefield">

            </div>
        </div>
    </div>

    {# Allies area #}
    <div id="ally-area" class="player-area player-area-{{ player.id }}" data-player="{{ player.id }}">
        <div class="avatar-area">
            <div id="ally-lifepoint" class="lifepoint" title="Lifepoints">20</div>
            {{ avatar.afficher(player.user) }}
        </div>
        <div class="row-zone-battlefield">
            <div class="battlefield">

            </div>
        </div>
        <div class="row-library-hand">
            <div class="exile" style="background:silver;">
                exile opponent
            </div>
            <div class="graveyard" style="background:black;">
                graveyard opponent
            </div>
            <div class="library" style="background:blue;">
                <div class="library-top-card" style="background-image:url('{{ asset('images/planeswalkers/mtg_card_back.jpg') }}');">
                    {{ player.library.countGameCardsLibrary }}
                </div>
            </div>
            <div class="hand">
                {% for cardHand in player.hand.gameCardsHand %}
                    <a href="#" class="hand-card-link" data-toggle="modal" data-target="#cardDetailsModal" data-idsrcyfall="{{ cardHand.card.idScryfall }}">
                        <div class="hand-card" style="background-image:url('{{ cardHand.card.imageUrisPng }}');">

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    {{ cardDetails.afficher() }}

{% endblock %}

{% block javascripts %}
    <script>
        {# Mercure #}
        const url = new URL('{{mercure_publish_url}}');
        console.log(url);
        url.searchParams.append('topic', 'planeswalkers-game-'+ {{ game.id }} );
        const eventSource = new EventSource(url);
        eventSource.onmessage = event => {
            console.log(JSON.parse(event.data));
            retourMercure = JSON.parse(event.data);

            switch (retourMercure.action) {
                case 'draw':
                    updateGameAfterDraw(retourMercure);
                    break;
                default:
            }
        }
    </script>

    {# Card details #}
    {{ cardDetailsJs.script() }}

    {# Draw #}
    {{ actionDrawJs.script(game, path('planeswalkers.play.action.draw')) }}

{% endblock %}