{% extends 'admin.html.twig' %}

{% block title %}
    {{ card.name }}
{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200">
            {{ card.name }} <small>({{ card.lang }})</small>
        </h1>
        <div class="d-sm-inline-block">
            <form action="{{ path('planeswalkers.deckcard.new') }}" method="post" class="d-inline-block">
                <input type="hidden" name="id_scryfall" value="{{ card.id }}"/>
                <input type="hidden" name="quantite" value="1"/>
                <div class="input-group">
                    <select class="form-control form-control-sm" name="deck" onChange="submit()">
                        <option>Add to a deck</option>
                        {% for deck in decks %}
                            <option value="{{ deck.id }}">{{ deck }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form action="{{ path('planeswalkers.wishlistcard.new') }}" method="post" class="d-inline-block ml-2">
                <input type="hidden" name="id_scryfall" value="{{ card.id }}"/>
                <input type="hidden" name="quantite" value="1"/>
                <div class="input-group">
                    <select class="form-control form-control-sm" name="wishlist" onChange="submit()">
                        <option>Add to a wishlist</option>
                        {% for wishlist in wishlists %}
                            <option value="{{ wishlist.id }}">{{ wishlist }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <form action="{{ path('planeswalkers.collectioncard.new') }}" method="post" class="d-inline-block ml-2">
                <input type="hidden" name="id_scryfall" value="{{ card.id }}"/>
                <input type="hidden" name="quantite" value="1"/>
                <button type="submit" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-layer-group fa-sm text-white-50"></i> Add to my collection
                </button>
            </form>
        </div>
    </div>

    <hr>

    <div class="row mb-4">
        <div class="col-md-3">
            <img src="{{ card.image_uris.border_crop }}" class="img-fluid" alt="">
        </div>
        <div class="col-md-7">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <b>{{ card.type_line }}</b>
                    <hr>
                    {{ card.oracle_text|cardsymbol|raw }}
                    {% if card.flavor_text is defined %}
                        <hr>
                        <i>{{ card.flavor_text }}</i>
                    {% endif %}
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Rules</div>
                </div>
                <div class="card-body">
                    {% if rules is defined %}
                        <ul class="list-unstyled">
                            {% for rule in rules.data %}
                                <li class="small">{{ rule.published_at }}: {{ rule.comment }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">About this card</div>
                </div>
                <div class="card-body">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td><b>Set</b></td>
                                <td>
                                    {{ card.set_name }}
                                    <br>
                                    Rarity: {{ card.rarity|rarity(true)|raw }}
                                    <br>
                                    Collector number: {{ card.collector_number }}
                                    <br>
                                    Artist: <a href="{{ path('planeswalkers.artist.show', {artist : card.artist|slugify }) }}">{{ card.artist }}</a>
                                    <br>
                                    Border color: {{ card.border_color }}
                                    <br>
                                    Digital: {{ card.digital|display_boolean }}
                                    <br>
                                    Promo: {{ card.promo|display_boolean }}
                                    <br>
                                    Reprint: {{ card.reprint }}
                                </td>
                            </tr>
                            <tr>
                                <td><b>EDHrec rank</b></td>
                                <td>{{ card.edhrec_rank }}</td>
                            </tr>
                            <tr>
                                <td><b>Useful links</b></td>
                                <td>
                                    {% if card.related_uris.gatherer is defined %}
                                        <a href="{{ card.related_uris.gatherer }}" target="_blank">Gatherer</a>
                                    {% endif %}
                                    {% if card.related_uris.tcgplayer_decks is defined %}
                                        <br><a href="{{ card.related_uris.tcgplayer_decks }}" target="_blank">TCGplayer</a>
                                    {% endif %}
                                    {% if card.related_uris.edhrec is defined %}
                                        <br><a href="{{ card.related_uris.edhrec }}" target="_blank">EDHrec</a>
                                    {% endif %}
                                    {% if card.related_uris.mtgtop8 is defined %}
                                        <br><a href="{{ card.related_uris.mtgtop8 }}" target="_blank">MTG Top 8</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            {# Mana #}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Mana</div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <td>Cost</td>
                            <td>{{ card.mana_cost|cardsymbol|raw }}</td>
                        </tr>
                        <tr>
                            <td>Colors</td>
                            <td>
                                {% for color in card.colors %}
                                    <div class="card-symbol card-symbol-{{ color }}"></div>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>Identity</td>
                            <td>
                                {% for color in card.color_identity %}
                                    <div class="card-symbol card-symbol-{{ color }}"></div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% if produced_mana is defined %}
                            <tr>
                                <td>Produced</td>
                                <td>
                                    {% for produced_mana in card.produced_mana %}
                                        <div class="card-symbol card-symbol-{{ produced_mana }}"></div>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>

            {# Legality #}
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Legality</div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <tr>
                            <td>Standard</td>
                            <td>{{ card.legalities.standard|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Modern</td>
                            <td>{{ card.legalities.modern|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Legacy</td>
                            <td>{{ card.legalities.legacy|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Vintage</td>
                            <td>{{ card.legalities.vintage|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Pauper</td>
                            <td>{{ card.legalities.pauper|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Penny</td>
                            <td>{{ card.legalities.penny|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Commander</td>
                            <td>{{ card.legalities.commander|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Brawl</td>
                            <td>{{ card.legalities.brawl|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Duel</td>
                            <td>{{ card.legalities.duel|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Future</td>
                            <td>{{ card.legalities.future|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Oldschool</td>
                            <td>{{ card.legalities.oldschool|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Gladiator</td>
                            <td>{{ card.legalities.gladiator|legality|raw }}</td>
                        </tr>
                        <tr>
                            <td>Premodern</td>
                            <td>{{ card.legalities.premodern|legality|raw }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            {# Buy this card #}
            <div class="card shadow">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <div class="h6 m-0 font-weight-bold text-light">Buy this card</div>
                </div>
                <div class="card-body">
                    <caption class="text-muted">Daily price information:</caption>
                    <table class="table table-sm table-striped">
                        <tr>
                            <td>Normal</td>
                            <td>
                                {{ card.prices.usd }} $
                                /
                                {{ card.prices.eur }} €
                            </td>
                        </tr>
                        <tr>
                            <td>Foil</td>
                            <td>
                                {{ card.prices.usd_foil }} $
                                /
                                {{ card.prices.eur_foil }} €
                            </td>
                        </tr>
                    </table>
                    <caption class="text-muted">Merchants:</caption>
                    <table class="table table-sm table-striped">
                        <tr>
                            <td>TCG Player</td>
                            <td><a href="{{ card.purchase_uris.tcgplayer }}"><i class="fas fa-external-link-alt"></i> link</a></td>
                        </tr>
                        <tr>
                            <td>Carmarket</td>
                            <td><a href="{{ card.purchase_uris.cardmarket }}"><i class="fas fa-external-link-alt"></i> link</a></td>
                        </tr>
                        <tr>
                            <td>Cardhoarder</td>
                            <td><a href="{{ card.purchase_uris.cardhoarder }}"><i class="fas fa-external-link-alt"></i> link</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}