{% extends 'admin.html.twig' %}

{% block title "Éditions" %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200">Éditions</h1>
    </div>

    <hr>

    <div class="row">
        {% for set in sets %}
            <div class="col-sm-4 col-md-3 col-lg-2">
                <div class="card mb-4">
                    <a href="{{ path('planeswalkers.set.show', {code: set.code}) }}">
                        <div class="planeswalkers-sets-thumb" style="background-image:url('{{ set.icon_svg_uri }}');"></div>
                    </a>
                    <div class="card-body">
                        <div class="card-title"><b>{{ set.name }}</b></div>
                        Number of cards: {{ set.card_count }}
                        <br>
                        Release date: {{ set.released_at }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(sets) }}
    </div>

{% endblock %}