{% extends 'admin.html.twig' %}

{% block title %}
    Édition {{ set.name }}
{% endblock %}

{% block body %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-200">Édition {{ set.name }}</h1>
    </div>

    <hr>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-striped" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Artwork</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Oracle text</th>
                        <th>Manacost</th>
                        <th>Rarity</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for card in cards.data %}
                        <tr class='clickable-row' data-href='{{ path('planeswalkers.card.show', { id: card.id }) }}'>
                            <td>
                                {% if card.image_uris is defined %}
                                    <img src="{{ card.image_uris.art_crop }}" class="img-fluid" alt="" style="height:50px;">
                                {% else %}
                                    No visual
                                {% endif %}
                            </td>
                            <td>
                                {{ card.name }}
                                <br>
                                <small>Collector number: {{ card.collector_number }}</small>
                            </td>
                            <td>{{ card.type_line }}</td>
                            <td>
                                {% if card.oracle_text is defined %}
                                    <small>{{ card.oracle_text|cardsymbol|raw }}</small>
                                {% endif %}
                            </td>
                            <td>
                                {% if card.mana_cost is defined %}
                                    {{ card.mana_cost|cardsymbol|raw }}
                                {% endif %}
                                <br><small>CMC: {{ card.cmc }}</small>
                                <br>
                            </td>
                            <td>{{ card.rarity|rarity|raw }}</td>
                            <td>{{ card.prices.eur }} €</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}